<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshu.mapper.SysUserMapper">
    <resultMap id="getUserInfoMap" type="com.codeshu.response.GetUserInfoResponse">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <collection property="projectIds" ofType="long">
            <result column="project_id"/>
        </collection>
    </resultMap>

    <select id="getUserInfo" resultMap="getUserInfoMap">
        SELECT T1.id,T1.username,T2.project_id
        FROM sys_user AS T1
        LEFT JOIN user_project AS T2 ON T1.id = T2.user_id
        WHERE T1.id = #{id}
    </select>
</mapper>
