<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeshu.mapper.UserMapper">

    <select id="selectBatch" resultType="com.codeshu.response.SelectBatchResponse">
        SELECT id,username
        FROM mybatis_batch_user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="com.codeshu.entity.UserEntity">
<!--        INSERT INTO mybatis_batch_user(username)-->
<!--        VALUES-->
<!--        <foreach collection="userEntityList" item="userEntity" separator=",">-->
<!--            (#{userEntity.username})-->
<!--        </foreach>-->
    </insert>

    <update id="updateBatch" parameterType="com.codeshu.entity.UserEntity">
        <foreach collection="userEntityList" item="userEntity" separator=";">
            UPDATE mybatis_batch_user
            <set>
                username = #{userEntity.username},
            </set>
            WHERE id = #{userEntity.id}
        </foreach>
    </update>

    <!-- 如果想传入的为空则不更新，可以这样写，以下是例子 -->
    <update id="updateBatchExample" parameterType="com.codeshu.entity.UserEntity">
        <foreach collection="userEntityList" item="userEntity" separator=";">
            UPDATE mybatis_batch_user
            <set>
                username = #{userEntity.username},
                <if test="userEntity.age != null">
                    age = #{userEntity.age},
                </if>
                <if test="userEntity.sex != null">
                    sex = #{userEntity.sex},
                </if>
            </set>
            WHERE id #{userEntity.id}
        </foreach>
    </update>

    <delete id="deleteBatch">
        DELETE FROM mybatis_batch_user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>
