<!--所有日志打印到控制台（使用默认附加器），同时也输出到文件-->

<configuration>
    <!--使用官方默认的控制台附加器-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 变量：在application.properties文件中找到对应的配置项 -->
    <springProperty scope="context" name="logging.path" source="logging.path"/>
    <springProperty scope="context" name="logging.level" source="logging.level.com.glmapper.spring.boot"/>

    <!-- 附加器：负责输出到文件 -->
    <appender name="GLMAPPER-LOGGERONE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!--过滤掉低于配置文件中所配置的日志级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logging.level}</level>
        </filter>
        <!--日志输出的路径和文件-->
        <file>
            ${logging.path}/codeshu.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logging.path}/glmapper-spring-boot/glmapper-loggerone.log.%d{yyyy-MM-dd}
            </FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <!--  所有日志打印到控制台（默认附加器），也输出到文件 -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="GLMAPPER-LOGGERONE"/>
    </root>
</configuration>
